
.img {
    height: 300px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
} 
  
.adText {
    color : white ;
    background-color : gray ;
    font-size: large;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 5px;
}
  