
 .body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

input:invalid {
  border-color: red;
}

/*

 Jumbotron: {
  // width: '100vw',
  //height: '100vh',
  //  backgroundSize: 'cover',
  backgroundSize: '100% 100%',
  backgroundRepeat: 'no-repeat',
  backgroundPosition: 'center top',
}*/




.textStyle {
    background-color: pink; 
    text-align: center; 
    font-size:19px; 
    font-weight:bold; 
    color: green
} 

.td {
  padding-right: 30px;
}

